.header {
    height: 8.75rem;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;

    .upper {
        width: inherit;
        height: 3rem;
        padding: 0 1rem;

        a {
            color: white !important;
            cursor: pointer;
        }

        .sub-header-text {
            font-family: var(--secondary-font);
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 1.3125rem;
        }

        .drop-down {
            z-index: 999;
        }
    }

    .main-header {
        width: inherit;
        height: 5.75rem;
        color: var(--text-dark);
        overflow: hidden;

        .container {
            height: inherit;
        }

        .brand-title {
            a {
                font-weight: 700;
                font-size: 1.5rem;
                line-height: 1.5rem;
                letter-spacing: 0.03rem;
                font-family: var(--main-font);
                &.active {
                    text-decoration: underline;
                }
            }
        }

        .navigation {
            &__item {
                padding-inline-start: 3rem;
            }
            &__link {
                font-family: var(--secondary-font);
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.5rem;
            }
        }

        .search-section {
            width: 15.1875rem;
            height: 2.375rem;
            background-color: var(--secondary-2);
            padding: 0.3125rem 0.75rem 0.4375rem 1.25rem;
            border-radius: 0.25rem;
            align-content: center;

            input {
                width: 90%;
                height: 100%;
                border: none;
                outline: none;
                background-color: transparent;
                &::placeholder {
                    font-family: var(--secondary-font);
                    font-weight: 400;
                    font-size: 0.75rem;
                    line-height: 1.125rem;
                    color: #000000;
                    opacity: 0.5;
                }
            }
        }
    }
}

hr {
    width: 100%;
    position: absolute;
    top: 6.625rem;
    @media only screen and (max-width: 900px) {
        top: 3.625rem;
    }
}

a {
    text-decoration: none;
    color: var(--text-dark);
}
i,
.pi {
    cursor: pointer;
}

::ng-deep {
    .custom-dropdown {
        border: 0;
        box-shadow: none;
        margin-inline-start: 3rem;
        ul.p-dropdown-items {
            li {
                color: white;
                background-color: #000000 !important;
            }
        }

        .p-dropdown-label,
        .p-dropdown-trigger {
            background-color: black;
            color: white;
        }

        .p-dropdown-panel {
            background-color: black;
            border: none;
            box-shadow: none;
        }

        .p-dropdown-items {
            background-color: black;
        }

        .p-dropdown-item {
            color: white !important;

            &:hover {
                background-color: #333;
            }
        }

        .p-dropdown-item.p-highlight {
            background-color: #555;
        }
    }
}

@media screen and (max-width: 774px) {
    .action {
        display: none;
    }
}

[dir="rtl"] {
    .header {
        .navigation {
            &__item {
                padding-inline-start: 0;
                padding-inline-end: 3rem;
            }
        }

        .action {
            direction: ltr;
            i,
            .pi {
                transform: scaleX(-1);
            }
        }
    }
}
