input {
    border: 0;
    outline: none;
    border-radius: 4px;
    padding: 0 !important;
    text-align: center !important;
    height: 3.599rem;
    &::placeholder {
        color: #000000 !important;
        text-align: center !important;
    }
}
