.shared__btn {
    padding: 1rem 3rem;
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 500;
    color: #fafafa;
    background-color: var(--btn-color-red);
    border: 0;
    outline: none;
    border-radius: 4px;
}
