@if (product) {
<div class="card" style="cursor: pointer" animateFromTop>
    @if (!inWishList) {
    <div class="card__icons d-flex align-items-center flex-column">
        <div class="icon icon-1" (click)="showConfirmPopUp()">
            <i class="pi pi-heart"></i>
        </div>
        <div class="icon icon-2" (click)="openImagePreview()">
            <i class="pi pi-eye"> </i>
        </div>
    </div>
    }
    <div class="card-top d-flex justify-content-center align-items-center"
        [routerLink]="['/products', product.category, product.id]">
        <div class="image-container">
            <img *ngIf="product?.imageUrl" [src]="product?.imageUrl" class="product-image" [alt]="product.name" />
        </div>
    </div>
    <div class="card-body">
        <a [routerLink]="['/products', product.category, product.id]" class="card-title">{{ product.name }}</a>
        <p class="card-text">
            <span>${{ product.discount }}</span>
            <span>${{ product.price }}</span>
        </p>
        <div class="d-flex stars align-items-center justify-content-between w-100 mt-2">
            <ngx-stars [initialStars]="product.rating" [maxStars]="5" [readonly]="true" [color]="'#FFAD33'"></ngx-stars>
            <span class="stock-info" [class.text-danger]="product.availableQuantity < 5" [class.text-success]="product.availableQuantity >= 5">
                {{ product.availableQuantity > 0 ? product.availableQuantity + ' left' : 'Out of Stock' }}
            </span>
        </div>
    </div>
</div>

<app-confirm-popup *ngIf="showPopup" (closePopup)="closePopup()" [product]="product"></app-confirm-popup>

}
