<section class="order">
    <h5 class="title">{{ "CART.CART_TOTAL" | translate }}</h5>

    <div class="order__details">
        <span class="order__price">{{ "CART.SUBTOTAL" | translate }}</span>
        <span class="order__price fw-semibold">{{ totalPrice | currency }}</span>
    </div>

    <div class="order__details">
        <span class="order__price">{{ "CART.SHIPPING" | translate }}</span>
        <span class="text-success fw-bold">{{ "CART.FREE" | translate }}</span>
    </div>

    <hr />

    <div class="order__details">
        <span class="order__price total">{{ "CART.TOTAL" | translate }}</span>
        <span class="order__price total text-primary">{{ totalPrice | currency }}</span>
    </div>

    @if (!isCheckout) {
        <button
            [disabled]="totalPrice == 0"
            class="checkOut_btn"
            routerLink="/checkout"
        >
            {{ "CART.PROCEED_TO_CHECKOUT" | translate }}
        </button>
    }
</section>

