.product {
    &__name {
        font-family: var(--main-font);
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #000000;
    }

    &__reviews {
        font-family: var(--secondary-font);
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
        opacity: 0.5;
    }

    &__availbility {
        font-family: var(--secondary-font);

        font-weight: 400;
        font-size: 14px;
        line-height: 21px;

        opacity: 0.6;
    }

    &__price {
        h5 {
            font-family: var(--main-font);
            font-weight: 400;
            font-size: 24px;
            line-height: 24px;
            letter-spacing: 0.03em;
        }
    }

    &__description {
        font-family: var(--secondary-font);
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
    }

    &-actions {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }

    .quantity-container,
    .button-container {
        width: 100%;
        max-width: 250px;
    }

    .car__btn {
        padding: 10px 1.5rem;
        font-family: var(--secondary-font);
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #fafafa;
        border: 0;
        outline: none;
        background-color: var(--btn-color-red);
        border-radius: 4px;
        width: 100%;
        max-width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 1rem !important;
        margin-top: 2rem;
    }

    @media (max-width: 767px) {
        .col-12 {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        p-inputNumber {
            width: 100%;
            max-width: 250px;
        }
    }
    .delivery {
        padding: 1.5rem 3.1875rem 1.5rem 1rem;
        &__upper,
        &__lower {
            display: flex;
            align-items: center;
        }
    }
}

::ng-deep {
    .p-inputnumber {
        width: 100%;
        max-width: 250px;
    }

    span.p-inputnumber {
        height: 2.6rem;

        .p-inputnumber-button-group {
            border-color: var(--btn-color-red) !important;
        }
        input.p-inputtext {
            width: 100%;
            &:focus,
            &:hover {
                outline: none;
                box-shadow: none;
                border-color: var(--btn-color-red) !important;
            }
        }
    }

    .p-button {
        border-color: var(--btn-color-red) !important;
    }

    .p-element.p-button-icon-only.p-inputnumber-button.p-button.p-component {
        background-color: var(--btn-color-red);
    }
}

.mar_gallery {
    @media only screen and (max-width: 768px) {
        margin-bottom: 2rem;
    }
}

@media (max-width: 575px) {
    .product-actions {
        align-items: center;
    }

    .quantity-container,
    .button-container {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .car__btn {
        max-width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .product-actions {
        justify-content: space-around;
    }
}

@media (min-width: 768px) {
    .product-actions {
        justify-content: space-between;
    }
}
