<section class="shared-header text-center" animateFromRight>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 mb-5">
                <div class="section-badge mb-2">
                    <ng-content select="[header-title]"></ng-content>
                </div>
                <h2 class="section-title">
                    <ng-content select="[header-desc]"></ng-content>
                </h2>
                <div class="section-line"></div>
            </div>
        </div>
    </div>
</section>
