.shared-header {
    margin-top: 3.75rem;

    .title {
        margin-bottom: 1.5rem;

        &__icon {
            flex-shrink: 0;
        }

        &__text {
            margin-inline-start: 1rem;
            font-family: var(--secondary-font);
            font-weight: 600;
            line-height: 1.25rem;
            color: var(--btn-color-red);
            position: relative;
        }
    }

    .description {
        font-family: var(--main-font);
        font-weight: 600;
        font-size: 2.25rem;
        line-height: 3rem;
        letter-spacing: 0.04em;
        color: #000000;
    }
}