<section class="gallery">
    <div class="row h-100">
        <div class="col-4">
            <div class="gallery__images h-100">
                <ul class="list-unstyled d-flex flex-column align-items-center">
                    <ng-container *ngIf="images">
                        <li *ngFor="let image of images; let i = index" (click)="changeSelectedImage(image, i)"
                            (mouseenter)="changeSelectedImage(image, i)" [ngStyle]="{
                                'background-image': 'url(' + image + ')'
                            }" [class.active]="image === selectedImage"></li>
                    </ng-container>
                </ul>
            </div>
        </div>
        <div class="d-flex justify-content-center col-8 p-0 gallery_main_image_container h-100">
            <div #mainImageContainer class="gallery_main_image position-relative text-center w-100"
                (mousemove)="onImageHover($event)" (mouseleave)="onImageLeave()">

                <img [src]="selectedImage" [style.opacity]="opacity" alt="Selected Image" />

                <!-- Lens Element -->
                <div *ngIf="showLens" class="lens" [style.top.px]="lensTop" [style.left.px]="lensLeft"></div>

                <!-- Zoom Window (Amazon Style: Usually to the side, but keeping overlay logic with shifted position) -->
                <div class="zoom-overlay" [class.active]="showLens"
                    [style.backgroundImage]="'url(' + selectedImage + ')'" [style.backgroundPosition]="zoomPosition">
                </div>
            </div>
        </div>
    </div>
</section>