<section class="banner text-light py-lg-5 py-3" style="margin-top: 60px">
    <div class="container">
        <div class="row g-4 align-items-center">
            <div class="col-lg-7 banner__text">
                <div class="banner__header">
                    <p class="text-success mb-3">
                        {{ "BANNER.CATEGORIES" | translate }}
                    </p>
                </div>
                <h1 class="banner__offer mb-4">
                    {{ "BANNER.ENHANCE_MUSIC" | translate }}
                </h1>
                <div
                    class="banner__counter d-flex flex-wrap justify-content-start align-items-center mb-4"
                >
                    <app-timer-digit
                        [value]="countdown().days"
                        label="BANNER.DAYS"
                    ></app-timer-digit>
                    <app-timer-digit
                        [value]="countdown().hours"
                        label="BANNER.HOURS"
                    ></app-timer-digit>
                    <app-timer-digit
                        [value]="countdown().minutes"
                        label="BANNER.MINUTES"
                    ></app-timer-digit>
                    <app-timer-digit
                        [value]="countdown().seconds"
                        label="BANNER.SECONDS"
                    ></app-timer-digit>
                </div>
                <button class="btn btn-success btn-lg">
                    {{ "BANNER.BUY_NOW" | translate }}
                </button>
            </div>
            <div class="col-lg-5 banner__img">
                <div class="img-wrapper">
                    <img
                        class="img-fluid"
                        src="../../../../../assets/images/JBL_BOOMBOX_2_HERO_020_x1 (1) 1.png"
                        alt="JBL Boombox"
                    />
                </div>
            </div>
        </div>
    </div>
</section>
