<div class="edit-profile-card">
    <div class="card-header">
        <h2 class="section-title">{{ "PROFILE.EDIT_YOUR_PROFILE" | translate }}</h2>
    </div>

    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="row g-4">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="firstname">{{ "PROFILE.FIRST_NAME" | translate }}</label>
                    <input type="text" class="form-control" id="firstname" formControlName="firstName" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="secondname">{{ "PROFILE.SECOND_NAME" | translate }}</label>
                    <input type="text" class="form-control" id="secondname" formControlName="lastName" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">{{ "PROFILE.EMAIL" | translate }}</label>
                    <input type="email" class="form-control" id="email" formControlName="email" readonly />
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="address">{{ "PROFILE.ADDRESS" | translate }}</label>
                    <input type="text" class="form-control" id="address" formControlName="address" />
                </div>
            </div>

             <div class="col-md-6">
                <div class="form-group">
                    <label for="Zip">{{ "PROFILE.ZIP_CODE" | translate }}</label>
                    <input type="number" class="form-control" id="Zip" formControlName="zipCode" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>{{ "PROFILE.BIRTH_DATE" | translate }}</label>
                    <app-shared-input formControlName="dateOfBirth"></app-shared-input>
                </div>
            </div>
        </div>

        <div class="form-actions">
            <a routerLink="/home" class="btn-cancel">
                {{ "PROFILE.CANCEL" | translate }}
            </a>
            <button class="btn-save" type="submit"
            [disabled]="form.invalid || form.pristine">
                {{ "PROFILE.SAVE_CHANGES" | translate }}
            </button>
        </div>
    </form>
</div>
<app-loading></app-loading>
<p-toast />
