.banner {
    background-color: #000 !important;
    border-radius: 8px;
    &__text {
    }
    &__header {
        margin-bottom: 20px;

        p {
            margin-left: 1.5rem !important;
            display: inline-block;
            transform: translateY(10px);
            font-family: var(--secondary-font);
            text-align: center;
            color: #fafafa;
        }
    }
    &__img {
    }
    &__offer {
        font-family: var(--main-font);
        font-weight: 600;
        font-size: 48px;
        line-height: 60px;
        letter-spacing: 0.04em;

        color: #fafafa;
    }
    &__link {
        a {
            span {
                color: #fafafa;
                display: inline-block;
                font-weight: 500;
                font-family: var(--secondary-font);
                text-decoration: underline;
            }
            i {
                color: #fff;
            }
        }
        margin-top: 24px;
        color: #fafafa;
    }
}

i {
    border-bottom: 0 !important;
    text-decoration: none !important;
}
