<section class="categories">
    <div class="container">
        <div class="row justify-content-center">
            <app-category-item
                class="col-8 mb-sm-3 offset-md-0 col-md-6 col-lg-3"
            >
                <ng-container title>Phones</ng-container>
            </app-category-item>
            <app-category-item
                class="col-8 mb-sm-3 offset-md-0 col-md-6 col-lg-3"
            >
                <ng-container title>Computers</ng-container>
            </app-category-item>
            <app-category-item
                class="col-8 mb-sm-3 offset-md-0 col-md-6 col-lg-3"
            >
                <ng-container title>Headphones</ng-container>
            </app-category-item>
            <app-category-item
                class="col-8 mb-sm-3 offset-md-0 col-md-6 col-lg-3"
            >
                <ng-container title>SmartWatches</ng-container>
            </app-category-item>
        </div>
    </div>
</section>
