:root {
    --primary-color: #db4444;
    --checkbox-width: 24px;
    --checkbox-height: 24px;
    --checkbox-border: 2px solid #db4444;
    --checkbox-active-bg: #db4444;
}

.p-checkbox .p-checkbox-box {
    border: var(--checkbox-border);
    width: var(--checkbox-width);
    height: var(--checkbox-height);
    box-shadow: none !important;
    outline: none;
}

.p-checkbox .p-checkbox-box.p-highlight {
    border-color: var(--checkbox-active-border);
    background: var(--checkbox-active-bg);
    box-shadow: none !important;
    outline: none;
    border: 0;
}
